/* .card {
    background-color: white;
    border-radius: 0.2rem;
    width: 18rem;
    padding: 0.5rem;
} */
.card {
	background-color: white;
	height: 7rem;
	min-width: 18rem;
	padding: 0.5rem 1rem;
	margin: 1rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 0.2rem;
}
.songDetails {
	color: var(--accent2);
	display: flex;
}
.card p {
	color: black;

	max-height: 1.5rem;
	max-width: 13rem;
	padding-left: 1rem;

	font-size: larger;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.title {
	font-weight: bold;
}

img {
	width: 3rem;
	height: 3rem;
}
.controls {
	display: flex;
}
.controls span {
	color: var(--accent2);
}
.controlButtons {
	display: flex;
	justify-content: center;
	align-items: center;
}
.playPause span {
	font-size: 2rem;
	padding: 0.2rem 0.5rem 0rem 0rem;
}
.likeButton span,
.addButton span {
	font-size: 1.5rem;
	padding: 0.2rem 0.5rem 0rem 0.5rem;
}
.controlButtons button {
	padding: 0;
}
.trackPlaceholder {
	background: #ccc;
	width: 8rem;
	height: 0.5rem;
	margin: 0.5rem 0.5rem 0.5rem 0;
	cursor: pointer;
}
.progressBarContainer {
	overflow: hidden;
	pointer-events: none;
}
.progressBar {
	position: relative;
	width: 0%;
	height: 0.5rem;
	background-color: var(--accent2);
	pointer-events: none;
}
.progressThumb {
	position: relative;
	height: 1.2rem;
	width: 0.6rem;
	margin: 0;
	background-color: var(--accent2);
	transform: translateY(-70%);
	left: 0%;
	pointer-events: none;
}
.noAudioText {
	width: 11rem;
	color: var(--accent2);
	font-family: var(--body);
	font-size: 1rem;
	font-weight: bold;
}
