name: Deploy to Live Production

on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: Live-prod - ViBE
    if: github.repository == 'byjackli/vibe'
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: installing packages
        run: npm install
      - name: running tests
        run: npm run test
      - name: building code base
        run: npm run build
      - name: deploying to live
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_SADFORMS }}"
          channelId: preview
          projectId: sadforms